<!doctype html>
<html ng-app="node">

<head>
    <meta charset="utf-8">
    <title>TEST</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="ContactsCtrl">
        <h2 id="contacts" ng-click="sort();">Contacts</h2>
        <div class="row">
            <div class="col-xs-3">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="contact in storage.contacts | orderBy:orderProp" ng-click="showContact(contact);" ng-dblclick="removeContact(contact);">
                        {{contact.name}}
                    </a>
                </div>
                <div>
                    <br>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info" ng-click="addContact()">New user</button>
                        </div>
                    </div>
                    <br>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="export()">Export</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="import()">Import</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

</body>

</html>
