<div class="col-xs-9">
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon" id="name">Name</span>
                <input required type="text" class="form-control" ng-change="validate();" aria-describedby="name" ng-model="storage.newContact.name">
            </div>
            <p> <span ng-show="isNameEmpty" class="required">-- required field</span> </p>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon" id="date">Date</span>                
                <input required type="text" class="form-control" ng-change="validate();" datepicker-popup="{{datePicker.format}}" ng-model="storage.newContact.date" is-open="datePicker.status.opened" max-date="datePicker.maxDate" datepicker-options="datePicker.dateOptions" date-disabled="false" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <p> <span ng-show="isDateEmpty" class="required">-- required field</span> </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select required class="form-control" id="sel1" ng-change="validate();" ng-model="storage.newContact.gender">
                    <option disabled selected>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <p> <span ng-show="isGenderEmpty" class="required">-- required field</span> </p>
            </div>
        </div>
    </div>
</div>
